.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/plugins/cordova-plugin-add-swift-support
/src-cordova/plugins/cordova-plugin-apkInstaller
/src-cordova/plugins/cordova-plugin-file
/src-cordova/plugins/cordova-plugin-file-transfer
/src-cordova/plugins/cordova-plugin-whitelist
/src-cordova/plugins/cordova-plugin-device
/src-cordova/plugins/cordova-plugin-appversion
/src-cordova/platforms
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
