body
    font-family: 'Roboto' sans-serif
    font-style: normal

.background
    background-color: $primary-dark3

.background-signup
    background-color: $primary-dark1

.input
    //height: 44px
    background: $primary-dark2
    border: 1px solid $primary-dark1
    box-sizing: border-box
    border-radius: 6px
    font-weight: normal
    font-size: 18px
    line-height: 20px
    color: $info-blue3
    padding-left: 20px

.pin-input
    opacity: 0
    position: absolute
    height: 40px
    left: 0
    right: 0
.pin-label
    width: 38px
    height: 44px
    border: 1px solid $primary-dark1
    background: $primary-dark2
    border-radius: 6px
    font-size: 18px
    line-height: 20px
    color: $info-blue3

.submit-button
    height: 55px !important
    border-radius: 6px
    background-color: $next-blue2
    font-size: 18px
    font-weight: 500
    line-height: 21px
    color: $info-blue3

.button-icon
    width: 28px
    height: 28px

.back-button-icon
    width: 28px
    height: 24px

// .q-fab .q-btn .q-btn__wrapper .q-btn__content i
//     width: 28px
//     height: 28px
//     background: url(../assets/plus.png)

h1
    font-size: 22px
    font-weight: 500
    line-height: 26px
    color: $info-blue1

h2
    font-weight: 500
    font-size: 20px
    line-height: 23px
    color: $info-blue2

h3
    font-weight: 500
    font-size: 14px
    line-height: 16px
    color: $info-blue2
    text-align: center
    margin: 0
