// app global css in Stylus form
@import "quasar.variables.styl"
@import "_base.styl"
@import "_layout.styl"
@import "_state.styl"
@import "_module.styl"
@import "_theme.styl"
    
body.cordova .my-selector
    /* for your app's header */
    padding-top: constant(safe-area-inset-top) // for iOS 11.0
    padding-top: env(safe-area-inset-top) // for iOS 11.2 +
    /* for your app's footer */
    padding-bottom: constant(safe-area-inset-bottom)
    padding-bottom: env(safe-area-inset-bottom)