// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #027BE3
$secondary = #26A69A
$accent    = #9C27B0

$primary-dark1 = #252526
$primary-dark2 = #2D2D2D
$primary-dark3 = #3C3C3C

$success-green1 = #355E49
$success-green2 = #43745C
$success-green3 = #6A9E7E

$info-blue1 = #8D8DA7
$info-blue2 = #C2C2C3
$info-blue3 = #DADADB

$warning-orange1 = #D47035
$warning-orange2 = #E59C64
$warning-orange3 = #F2BA85

$next-blue1 = #3E68A6
$next-blue2 = #4579C9
$next-blue3 = #70A0DE

$info-white = #FFFFFF

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

.bg-primary-dark1
    background: $primary-dark1
.bg-primary-dark2
    background: $primary-dark2
.bg-primary-dark3
    background: $primary-dark3

.bg-success-green1 
    background: $success-green1
.bg-success-green2 
    background: $success-green2
.bg-success-green3 
    background: $success-green3

.bg-warning-orange1 
    background: $warning-orange1
.bg-warning-orange2 
    background: $warning-orange2
.bg-warning-orange3 
    background: $warning-orange3

.bg-next-blue1 
    background: $next-blue1
.bg-next-blue2
    background: $next-blue2
.bg-next-blue3 
    background: $next-blue3
