// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$qr-bg-app = #F6F8F7
$qr-bg-button-active = #0B95AF
$qr-bg-button-selected = #14C8E1
$qr-bg-input = #FCFCFC

$qr-text-title = #0B95AF
$qr-text-subtitle = #8A8A8A

$qr-pin-active = #0B95AF
$qr-pin-success = #009688
$qr-pin-error = #EB5757

.bg-qr-bg-button-active
    background: $qr-bg-button-active
.bg-qr-bg-button-selected
    background: $qr-bg-button-selected
