// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #027BE3
$secondary = #26A69A
$accent    = #9C27B0

$primary-dark1 = #252526
$primary-dark2 = #2D2D2D
$primary-dark3 = #3C3C3C

$success-green1 = #355E49
$success-green2 = #43745C
$success-green3 = #6A9E7E

$info-blue1 = #8D8DA7
$info-blue2 = #C2C2C3
$info-blue3 = #DADADB

$warning-orange1 = #D47035
$warning-orange2 = #E59C64
$warning-orange3 = #F2BA85

$next-blue1 = #3E68A6
$next-blue2 = #4579C9
$next-blue3 = #70A0DE

$info-white = #FFFFFF

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

.warning-orange1 
    background: #D47035
.warning-orange2 
    background: #E59C64
.warning-orange3 
    background: #F2BA85
